<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado cambiar tu contraseña. Realizalo a través del siguiente link.</p>
<a href='<%="#{DOMAIN}/change-password.html?reset_password_token=#{@token}"%>' > Cambiar contraseña</a>

<p> Si tu no has solicitado esto. por favor ignora este correo </p>
<p> Tu contraseña no sera cambiada hasta que accedas a link y crees una nueva. </p>

<p>Atentamente, el equipo de Derivas Urbanas.</p>
